@import "./utility";
@import "~react-bulma-components/dist/react-bulma-components.min.css";

.admin-username {
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 150px;
}

.map {
    height: 125px;
}

.card-content {
    width: 500px;
}
