.card {
    display: flex;
    align-items: center;
    // max-width: 80%;
    // width: 800px;
    height: auto;
    justify-content: center;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;

}

.inputFile {
    display: flex;
    justify-content: center;
}
